.events{
    overflow: auto;
    padding:3rem;
    flex-grow: 1;
    position:relative;

}


.events_row_search{
    width:100%;
    flex-wrap: wrap;
    display: flex;
    /* background-color: #E9F2FE; */
    align-items: center;
    margin-bottom: 3.5rem;
}

.events_row_search div{
    margin:0.5rem 1rem;
}

.event_searchField{
    height:2rem;
    border-radius: 2rem;
    border: 1px solid rgb(160, 160, 160);
    padding:0 1rem;

}
.events_reset{
    display: flex;
    height:1.2rem;
    width:5rem;
    height:2rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #1868DB;
    color:white;
    font-weight: 600;
}
.events_reset:hover{
    background-color:#387bda; ;
}




.events_switch{
    height:2.5rem;
    width:5rem;
    margin:2rem 0;
    display: flex;

}


/* .events_alter_calender{
    background-color: red;

} */

.eventDetail{
    transform: scale(80%);
    z-index:2;
    background-color: #F0F4F8;
    padding:0.1rem 2rem 3rem 2rem;
    width:30vw;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(129, 129, 129);
    position:relative;
}
.eventDetail>div{
    margin-top: 1rem;
    margin-bottom:2rem;
}

.eventDetail_tool_bar{
    display: flex;
    align-items: center;
    position:absolute;
    top: 0;
    right: 1.3rem;
}

/* .test{
    background-color: red;
        height:2.5rem;

} */

.event_detail_buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.event_detail_buttons>div{
    margin: 0 0.3rem;
    padding:0.5rem 1rem;
    display: flex;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.3rem rgb(183, 183, 183);
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}



.event_detail_buttons>div:hover{
    /* background-color: rgb(244, 246, 250); */
        box-shadow: 0.1rem 0.1rem 0.5rem rgb(162, 162, 162);
}

.eventDetail_toolBar_cross {
    display: flex;
    justify-content: center;
    margin-left: 0.7rem;
    /* background-color: red; */
}

.eventDetail_toolBar_cross:hover{
    animation:spin;
    animation-duration: 0.3s;
}


@keyframes spin{
    from{
        transform: rotate(90deg);
    }to{
        transform: rotate(180deg);
    }
}
.event_detail_icon {
    margin-right: 0.5rem;
}

.eventDetail_title {
    margin-top: 5rem !important;
    margin-bottom: 1rem !important;
    font-size: 1.5rem;
    font-weight: 600;
}
.eventDetail_img{
    width: 100%;
     border-radius: 1rem;
}

.eventDetail_accountName{
    display: inline;
    background-color: rgba(239, 184, 44, 0.906);
    color:white;
    font-weight: 500;
    border-radius: 1rem;
    padding:1% 2%;
}
/* 
.events_alter{
    height:65vh;
    width: 100%;
    display: flex;
    background-color: #b7b6b6;
}

.events_disable{
    background-color: firebrick;
    display: none;
} */


