
.Login_Signup{
  /* background-image: url("../assets/login_bcg.gif"); */
  display:flex;
  height: 100vh;
  width: 100vw;
  gap:3vw;
  align-items: center;
  justify-content: center;
  /* background-color: #fbcc32; */
}




.Login_Signup_Layer1{
  background-color: white;
  box-shadow: 0rem 0rem 1rem black;
  display: flex;
  width:37%;
  height: 85%;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  
}


/* .Page1_Right{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 min-width:70%;
 min-height: 80%;
 background-color: orange; 
} */
/* .Page1_Title{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    
    padding:1rem;
  
  background-color: white;
} */

/* .Page1_Login{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:100%;
  height: 60%;
  background-color: beige;

} */

