.sideBar{

    flex:0 1 13%;
    /* background-color: #F6F8FA; */
    border-right:  1px solid rgb(218, 218, 218);
    padding-top: 1rem;
    overflow: hidden;
}



.sideBar_tab{
font-size: 0.8rem;
margin:1px;
padding:0.7rem 1rem;
margin:0 1rem;
display: flex;
align-items: center;
border-radius: 0.5rem;
}

.sideBar_tab:hover{
background-color: #F2F3F4;
color:black;
}

.sideBar_tab_effect{
    width: 0.3rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: black;
}
.sideBar_tab_logo{
    padding-right: 1rem;
}


.sideBar_tab_active{
    background-color: #cecfcf;
    font-weight: 500;
}

.sideBar_tab_active:hover{
    background-color: #cecfcf;
}
